footer {
    padding: 2rem  0 0 0;
    box-shadow: 0 -3px 5px -5px #80808085;
    font-family: montserrat, sans-serif;
    font-size: .85rem;
}

footer .list-inline-item:not(:last-child):before {
    content: "";
    position: absolute;
    right: -10px;
    width: 3px;
    height: 40%;
    top: 33%;
    background: rgba(0, 0, 0, .1);
}

footer .list-inline-item {
    position: relative;
    padding: 0 10px!important;
}

footer #back-to-the-top {
    cursor: pointer;
    font-size: 1rem;
}

footer a {
    color: inherit;
}

footer a:hover {
    text-decoration: none;
    color: inherit;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}